:root{
    --primary-color: rgb(90, 0, 93);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    text-align: center;
}

#about-me {
    color: black;
    line-height: 1.5rem;

}

.container {
    margin: 30px;
}

.container {
    padding: 20px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-top: 60px;
    margin-bottom: 60px;
}

.input {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}


header ul {
    display: flex;

    list-style-type: none
}

li {
    padding-right: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;


}

#luna {
    /* border-color: green;
    border-style: dotted;
    border-width: 4px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    transition: 2s;
}

header a:hover {
    background-color: brown;
    color: white;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width:600px) {
    #about-me {
        text-align: center;

    }
}

.flex-container {
    flex-direction: column;
    text-align: center;
}

/*Footer Styling*/
footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;
    justify-content: center;

}

footer nav ul {
    display: flex;
    list-style-type: none;
}

footer a {
    color: white;
}

footer .socials {
    margin: 1rem;
}

footer .socials a {
    margin: 0 1rem;
}

footer .copy-right p {
    margin: 2rem;
}

footer i {
    font-size: 20px;
}
footer li{
    font-size: 15px;
}